@font-face {
  font-family: Rubik-Mono-One;
  src: url("./assets/Fonts/RubikMonoOne-Regular.ttf");
}

@font-face {
  font-family: IBM-Plex-Sans, "Sans Serif";
  src: url("./assets/Fonts/IBMPlexSans-Italic-VariableFont_wdth\,wght.ttf");
}

@import "tailwindcss";

@theme {
  --font-Rubik-Mono-One: Rubik-Mono-One, "Sans Serif";
  --font-IBM: IMB-Plex-Sans, "Sans Serif"
}

  .rubik-glitch-regular {
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  html {
    scroll-behavior: smooth;
  }

